// Media query mixins
@mixin small-mobile {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 800px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 801px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}