// Abstracts
@import './abstracts/variables';
@import './abstracts/mixins';
@import './abstracts/functions';

// Base
@import './base/reset';
@import './base/typography';

// Components
@import './components/buttons';
@import './components/navigation';
@import './components/progress-bar';
@import './components/step-container';
@import './components/step-content';
@import './components/intro-screen';
@import './components/results';
@import './components/comparison-bar';
@import './components/image-card';
@import './components/option-card';
@import './components/image-selection';
@import './components/option-boxes';
@import './components/range-slider';
@import './components/points-arranger';

// Layout
@import './layout/header';
@import './layout/footer';
@import './layout/container';

// Pages
@import './pages/steps';
@import './pages/result';
@import './pages/compare';